@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto-semi-condensed: var(--font-roboto-condensed);
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Bold.woff2') format('woff2'),
       url('/fonts/Recoleta-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aulletta';
  src: url('/fonts/Aulletta.woff2') format('woff2'),
       url('/fonts/Aulletta.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #171717;
  }
}

body {
  background: #F5F5F5;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-recoleta {
  font-family: 'Recoleta', serif;
}

.font-aulletta {
  font-family: 'Aulletta', cursive;
}
